*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* add font family */
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    background-image: linear-gradient(to right, #000428, #004e92);
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 550px;  
    width: 90%;
    margin-top: 4rem;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px ;
}

.tab.current-tab{
    background-color: grey;
    border-radius: 4px;
}

.weather-container{
    margin-block: 4rem;
}

.btn{
    all: unset;
    cursor: pointer;
    color: whitesmoke;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #005cac;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-container{
    display: none;
}

.grant-location-container.active{
    display: flex;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75rem;
}

.loading-screen-container{
    display: none;
}

.loading-screen-container.active{
    display: flex;
}

.loading-screen-container p{
    text-transform: uppercase;
}

.user-info-container{
    display: none;
}

.user-info-container.active{
    display: flex;

}

.user-info-container p[data-weatherDesc]{
    font-size: 1.5rem;
    font-weight: 200;
}

.user-info-container img[data-weatherIcon]{
    width: 90px;
    height: 90px;
}

.city{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.city p{
    font-size: 2rem;
}

.city img{
    width: 30px;
    height: 30px;

}

.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}

.parameter-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.parameter{
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 128, 128);
    width: 30%;
    max-width: 200px;
    border-radius: 5px;
    padding: 1rem;
    gap: 10px 0;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type{
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 600;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(136, 136, 136,0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: whitesmoke;
}

.form-container input:focus{
    outline: 3px solid whitesmoke;
}

.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 0px;
}

.not-found-screen p{
    font-size: x-large;
    font-weight: 600;
    text-transform: capitalize;
}

.not-found-screen{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found-screen.active{
    display: flex;
}


@media (max-width:440px)  {
    .parameter-container{
        flex-wrap: wrap;
    }

    .tab-container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .parameter img{
        width: 20px;
        height: 20px;
    }

    .parameter p:first-of-type{
        text-transform: capitalize;
        font-size: 0.7rem;
        font-weight: 500;
    }

    .parameter p:last-of-type{
        font-size: 0.5rem;
        font-weight: 200;
    }

    .user-info-container p[data-temp]{
        font-size: 1.75rem;
        font-weight: 700;
    }
    
    
    .user-info-container p[data-weatherDesc]{
        font-size: 0.75rem;
        font-weight: 200;
    }
    
    .user-info-container img[data-weatherIcon]{
        width: 50px;
        height: 50px;
    }
    
    .city{
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
        margin-bottom: 1rem;
    }
    
    .city p{
        font-size: 1rem;
    }
    
    .city img{
        width: 15px;
        height: 15px;
    
    }
    
}